<!-- app/views/events/index.html.erb -->
<html lang="en">
<div class="container">
  <br></br><h1 class="display-5 fw-bold" style="color: #003262;" align="center">Events</h1><br></br>
  
  <p>Events page coming soon</p>
  
  <hr class="col mt-5 mx-auto"/>
  <div class="col-lg-6 mt-5 mx-auto" align="center">
    <%= link_to "Back", root_path, method: :get, class:"btn btn-secondary btn-lg my-4", style:"color:#003262" %>
  </div>
</div>
</html>