<html lang="en">
<div class="container">
<br></br><h1 class="display-5 fw-bold" style="color: #003262;" align = "center">Courses</h1><br></br>
<h2 class="col-6-sm" style="color: #003262;">Transition Course:</h3>
  <div class="row">
    <h3 class="col-6-sm">Independent Students in Higher Education: <br> Re-entry Transition Course for Adult Learners (L&S 198)</h3>
    <p>The Re-entry Student Program offers a 1-unit P/NP transition course every Fall and Spring semester for first-year students seeking holistic support in navigating their first year at Cal.</p>
  </div>
    <div class="row">
        <h3 class="col-6-sm">Spring 2025:</h3>
        <li>
            <strong>Wednesdays 3:00pm - 4:00 pm (CCN#: 24227)</strong>
        </li>
        <p><b>Location: 82D of B North (basement level of MLK Student Union)</b></p>
    </div>
<br></br>
  <div class="row">
    <div class="card">
      <h4 class="card-header">L&S 198: One Unit – Pass/Not Pass</h4>
      <div class="card-body">
        <div class="card-text">
            <p>Students participate in this discussion-based forum to address specific issues adult learners 
            often face during the transitional first semester at Cal. Course discussions and assignments are 
            designed to coach students through the process of adjusting to academic life at Berkeley and all 
            the complexities it entails. Through this class, students expand strategies for managing the demanding 
            workload of this research university and build approaches for maximizing the opportunities available 
            throughout campus that directly shape the quality of the re-entry student experience. 
            This class affords the opportunity to network with other re-entry learners to build community and belonging. 
            Many re-entry students note that this course was foundational for their success at Cal.
            </p>
            <div align = "center">
                <img src="<%= asset_path('198_info.png') %>" alt="Take our 198 course to manage university workload, explore opportunities, and build community..">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="col mt-5 mx-auto"/>
<div class="col-lg-6 mt-5 mx-auto" align="center">
  <%= link_to "Back", root_path, method: :get, class:"btn btn-secondary btn-lg my-4", style:"color:#003262" %>
</div>
</div>
</html>
